<h1>Observable demo's</h1>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Creating an observable based on a timer
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <pre>
      <code #code class="typescript">{{ intervalDemoStartCode }}
        {{ intervalDemoStopCode }}
      </code>
    </pre>

    <div class="marble-diagram">
      <h2>Marble diagram</h2>
      <div [inlineSVG]="'assets/timer-immediate.svg'"></div>
    </div>

    <button mat-raised-button (click)="startIntervalDemo()">Start</button>
    <button mat-raised-button (click)="stopIntervalDemo()">Stop</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      When stream is finished/closed the observable completes
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <pre>
      <code #code class="typescript">{{ completeDemoCode }}</code>
    </pre>

    <div class="marble-diagram">
      <h2>Marble diagram</h2>
      <div [inlineSVG]="'assets/timer-delay.svg'"></div>
    </div>

    <button mat-raised-button (click)="startCompleteDemo()">Start</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      When an error occurs (and it is not catched) the observable completes
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <pre>
      <code #code class="typescript">{{ errorDemoCode }}</code>
    </pre>

    <div class="marble-diagram">
      <h2>Marble diagram</h2>
      <div [inlineSVG]="'assets/timer-error.svg'"></div>
    </div>

    <button mat-raised-button (click)="startErrorDemo()">Start</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Observables can be Hot and Cold</mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <ul>
      <li>Cold: Creates values from "inside" the observable (Unicast)</li>
      <li>Hot: Creates values from "outside" the observable (Multicast)</li>
    </ul>

    <pre>
    <code #code class="typescript">{{ hotColdDemoCode }}</code>
  </pre>

    <button mat-raised-button (click)="startHotColdDemo()">Start</button>
  </section>
</mat-expansion-panel>

<!-- <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Observables are both synchronous and asynchronous
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <pre>
    <code #code class="typescript">{{ asyncDemoCode }}</code>
  </pre>

    <button mat-raised-button (click)="startAsyncDemo()">Start</button>
  </section>
</mat-expansion-panel> -->
