<h1>Operator demo's</h1>

<h2>Combinational</h2>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      CombineLatest
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>CombineLatest gets the latest value from each observable</p>

    <p>
      <strong>Note:</strong> Observables are only combined when both have
      emitted at least one value.
    </p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ combineLatestDemoCode }}</code>
    </pre>

    <reactive-demo-marble-diagram
      [diagram]="'combine-latest.svg'"
    ></reactive-demo-marble-diagram>

    <button mat-raised-button (click)="startCombineLatestDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Merge
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>Merge merges multiple observable into a single observable</p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ mergeDemoCode }}</code>
    </pre>

    <reactive-demo-marble-diagram
      [diagram]="'merge.svg'"
    ></reactive-demo-marble-diagram>

    <button mat-raised-button (click)="startMergeDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      WithLatestFrom
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>
      WithLatestFrom 'adds' the latest value from one observable the other
      observable when the other observable emits.
    </p>

    <p>
      <strong>Note:</strong> The combined value is only emitted when both input
      observables have emitted atleast one value.
    </p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ withLatestFromDemoCode }}</code>
    </pre>

    <reactive-demo-marble-diagram
      [diagram]="'with-latest-from.svg'"
    ></reactive-demo-marble-diagram>

    <button mat-raised-button (click)="startWithLatestFromDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>

<h2>Creational</h2>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      From
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>
      From can convert an array, promise or iterable into an observable.
    </p>

    <p>
      <strong>Note:</strong> For arrays and iterables all values will be emitted
      one by one.
    </p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ withLatestFromDemoCode }}</code>
    </pre>

    <button mat-raised-button (click)="startFromDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Of
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>
      Of can convert a variable amount of values into an observable and then
      completes.
    </p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ withLatestFromDemoCode }}</code>
    </pre>

    <button mat-raised-button (click)="startOfDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>

<h2>Filtering</h2>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      DebounceTime
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>Debounces the emitted values.</p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ withLatestFromDemoCode }}</code>
    </pre>

    <p><input type="text" (input)="handleInput($event)" /></p>

    <button mat-raised-button (click)="startDebounceTimeDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      DistinctUntillChanged
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>
      It only emits a value when it is different from the last emitted value.
    </p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ withLatestFromDemoCode }}</code>
    </pre>

    <button mat-raised-button (click)="startDistinctUntilChangedDemo()">
      Start
    </button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filter
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>It filters value based on a predicate.</p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ withLatestFromDemoCode }}</code>
    </pre>

    <button mat-raised-button (click)="startFilterDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Take
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <p>It takes a certain amount of emissions and then completes.</p>

    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ withLatestFromDemoCode }}</code>
    </pre>

    <button mat-raised-button (click)="startTakeDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>
