<h1>Subject demo's</h1>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Subjects are multicast observables
    </mat-panel-title>
  </mat-expansion-panel-header>

  <section>
    <pre>
      <code reactiveDemoCodeBlock class="typescript">{{ subjectDemoCode }}</code>
    </pre>

    <reactive-demo-marble-diagram
      [diagram]="'subject.svg'"
    ></reactive-demo-marble-diagram>

    <button mat-raised-button (click)="startSubjectDemo()">Start</button>
    <button mat-raised-button (click)="stop()">Stop</button>
  </section>
</mat-expansion-panel>
