<header></header>
<main>
  <nav class="navigation">
    <ul class="menu">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/observables" routerLinkActive="active">Observables</a>
      </li>
      <li><a routerLink="/subjects" routerLinkActive="active">Subjects</a></li>
      <li>
        <a routerLink="/operators" routerLinkActive="active">Operators</a>
      </li>
    </ul>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
