.menu {
  background-color: black;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  height: 40px;
  justify-content: space-evenly;
  line-height: 40px;
  list-style-type: none;
  margin: 0;

  a {
    color: white;
    text-decoration: none;
  }
}

.content {
  padding: 20px;
}
